<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<h1>Oh My Godsh.... tengo html aqui!</h1>

<%= 

# 1ยบ Traigo Products haciendo un Join con Category
# 2ยบ Los agrupo por Nombre de Cat
# 3ยบ Pluck retorna un string (nombre_cat, count_prod):
#        CatName, 2
#
pie_chart Product.joins(:category).group("categories.name").pluck("categories.name, COUNT(products.name)") 
%>